.text {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 50px;
}

.memo {
	background-color: #f5e37b;
	box-shadow: #000 10px 10px 10px 5px;
	position: absolute;
}

.enter-text {
	position: relative;
}
