.header-container {
	display: flex;
	justify-content: space-between;
}

.selected-menu-color {
	background-color: #353535 !important;
	color: #ffffff !important;
	box-shadow: inset 0 0 15px #000 !important;
}

.media {
	background-color: #ffffff;
	padding: 10px;
}

.media img {
	max-width: 100%;
}

.zoom-media {
	position: relative;
}

.zoom-media > #dateBox {
	position: absolute;
	bottom: 0;
	left: 10%;
	background-color: #353535;
	color: white;
	padding: 0.8rem;
	box-shadow: inset 0 0 15px #000;
	text-align: center;
}

.zoom-media > img {
	width: 100%;
}

.text {
	font-weight: bold;
	font-size: 1rem;
}

.date {
	color: #ffffff;
	background-color: #353535;
	text-align: center;
	padding: 10px;
	box-shadow: inset 0 0 15px #000;
}

.button {
	background-color: #ffcc00;
	border: none;
	text-transform: uppercase;
	padding: 0.5rem 1.5rem;
	font-weight: bold;
}

.event {
	background-image: linear-gradient(#fff 70%, #f2f2f2);
}

.playbutton {
	margin-left: auto;
	font-size: 30px;
	color: #353535;
}
